/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* bai-jamjuree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/bai-jamjuree-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bai-jamjuree-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/bai-jamjuree-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --green: rgb(38, 186, 164);
  --blue: rgb(97, 115, 255);
  --gray700: hsl(210, 10%, 33%);
  --gray500: rgb(159, 171, 178);
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 2;
  --grid-clo: 2/4;
  --margin-block: 9.375em;
  --margin-bottom: 4.375em;
}

body {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  button {
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 100px;
    border: none;
    font-weight: 600;
  }
  header {
    background-image: url("../images/bg-header-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (width >= 43.75em) {
      background-image: url("../images/bg-header-desktop.png");
    }
  }
}
.grid {
  display: grid;
  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (min(100% - var(--space-lr), 60rem) - 1 * var(--space-gap)) /
          var(--col-count)
      )
    )
    1fr;
  gap: var(--space-gap);
}

.Nav {
  padding-block-start: 7.5em;
  place-items: center;

  .Nav__img {
    grid-column: var(--grid-clo);
    margin-bottom: 70px;
  }
  .Nav__title {
    text-align: center;
    grid-column: 2/4;
    font-size: 1.875rem;
    color: var(--gray700);
    font-weight: 600;
  }
  .Nav_description {
    font-size: 1.05rem;
    text-align: center;
    grid-column: var(--grid-clo);
    color: var(--gray500);
    font-weight: 400;
    margin-bottom: 50px;
  }
  .ios {
    text-wrap: nowrap;
    grid-column: var(--grid-clo);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--green);

    box-shadow:
      0 0.5px 20px 1px rgba(38, 186, 164, 0.5),
      0 1.5px 0 1px rgba(0, 0, 0, 0.5);
  }
  .mac {
    text-wrap: nowrap;
    color: white;
    font-weight: 600;
    padding: 15px 100px;
    font-size: 1rem;
    background-color: var(--blue);
    grid-column: var(--grid-clo);
    box-shadow:
      0 1px 25px 0.5px rgba(97, 115, 255, 0.5),
      0 1px 0 1px rgb(97, 115, 255);
  }

  @media (width >= 43.75em) {
    --space-lr: 80px;
    --space-gap: 30px;
    --col-count: 6;
  }
  @media (width >= 62.5em) {
    --col-count: 12;
  }
}

.hero {
  margin-block-start: var(--margin-block);
  .hero_content {
    margin-bottom: var(--margin-bottom);
    padding: 0.625em;
    grid-column: var(--grid-clo);
    .content_title {
      font-size: 1.5625rem;
      text-wrap: wrap;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .content_description {
      text-align: center;
      font-size: 1.05rem;
      font-weight: 400;
      color: var(--gray500);
    }
  }
  .hero__img {
    grid-column: var(--grid-clo);
    margin-bottom: var(--margin-bottom);
  }

  .hero_search {
    grid-column: var(--grid-clo);
    display: grid;
    gap: 20px;
    margin-bottom: var(--margin-bottom);

    .search_title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .search_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .hero_icloud {
    display: grid;
    gap: 20px;
    grid-column: var(--grid-clo);
    margin-bottom: var(--margin-bottom);

    .icloud_title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .icloud_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .hero_history {
    display: grid;
    gap: 20px;
    grid-column: var(--grid-clo);
    .history_title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .history_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
}

.testimonials {
  margin-block-start: var(--margin-block);
  .testimonials_content {
    display: grid;
    gap: 1.25em;
    padding: 1.25em;
    grid-column: var(--grid-clo);
    .testimonials_title {
      text-wrap: wrap;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .testimonials_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .testimonials_img {
    grid-column: var(--grid-clo);
  }
}

.features {
  margin-block-start: var(--margin-block);
  .features_content {
    display: grid;
    gap: 1.25em;
    padding: 1.25em;
    margin-block-end: 5.625em;
    grid-column: var(--grid-clo);
    .content_title {
      text-wrap: wrap;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }

    .content_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .features_img {
    grid-column: var(--grid-clo);
  }

  .features_blacklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-gap);
    grid-column: var(--grid-clo);
    margin-block-end: 5.625em;
    .blacklist_img {
      width: var(--icon-size);
    }
    .blacklist_title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .blacklist_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .features_plain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-gap);
    grid-column: var(--grid-clo);
    margin-block-end: 5.625em;
    .plain_img {
      width: var(--icon-size);
    }
    .plain_title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .plain_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .features_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-gap);
    grid-column: var(--grid-clo);
    .preview_img {
      width: var(--icon-size);
    }
    .preview_title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: var(--gray700);
    }
    .preview_description {
      font-size: 1.05rem;
      text-align: center;
      color: var(--gray500);
    }
  }
  .features_logos {
    margin-block-start: 5.625em;
    grid-column: var(--grid-clo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.375em;
    flex-direction: column;
  }
}

.download {
  margin-block-start: var(--margin-block);
}
